RewriteEngine On

<FilesMatch "\.(env|git|htaccess)$">
    Require all denied
</FilesMatch>

<FilesMatch "^composer.*$">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_URI} !^/cms/public/(styles|images|scripts)/
RewriteCond %{REQUEST_URI} !^/cms/public/index\.php$
RewriteRule ^(.*)$ /cms/public/index.php [R=301,L]
