:root {
    --accent: #4658bb;
    --accent-bg: #e8e8e8;
}

.admin-pages-table {
    min-width: 100%;
}

.create-page-errors, .login-errors {
    margin-bottom: 1rem;
}

.create-page-errors__item, .login-errors__item {
    color: red;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.create-form__button-link.button-link {
    border: none;
    border-radius: 0;
    line-height: 1.5;
    padding: 0;
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
}

.button-link[type="submit"]:enabled:hover {
    text-decoration: none;
    filter: none;
}